# Purpose of Lab 1: To touch on the basics of R programming

# Content
1.   Preliminaries
*   Print function, help function, Example function
2.   Language Basic Syntax
* Hellp world, comments and object assignment
* Listing and removing objects
* Showing all objects
* Construct a function
3.   Simple Manipulation, numbers and vectors
* Basic Arithmetics
* Data types
* Vectors
* Concatenation
* Indexing, Selecting and modifying subsets of data
* Replace missing values
* Lists
* Matrices

# Preliminaries

**The Print Function**

In [ ]:
print('Hello')

[1] "Hello"

**The Help Function**

In [ ]:
help(print) # or ?print

**The Example Function**

In [ ]:
example(print)

print> require(stats)

print> ts(1:20)  #-- print is the "Default function" --> print.ts(.) is called
Time Series:
Start = 1
End = 20
Frequency = 1
 [1]  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20

print> for(i in 1:3) print(1:i)
[1] 1
[1] 1 2
[1] 1 2 3

print> ## Printing of factors
print> attenu$station ## 117 levels -> 'max.levels' depending on width
  [1] 117  1083 1095 283  135  475  113  1008 1028 2001 117  1117 1438 1083 1013
 [16] 1014 1015 1016 1095 1011 1028 270  280  116  266  117  113  112  130  475
 [31] 269  135  1093 1093 111  116  290  112  113  128  126  127  141  266  110
 [46] 1027 111  125  135  475  262  269  1052 411  290  130  272  1096 1102 112
 [61] 113  1028 2714 2708 2715 3501 655  272  1032 1377 1028 1250 1051 1293 1291
 [76] 1292 283  885  <NA> 2734 <NA> 2728 1413 1445 1408 1411 1410 1409 1377 1492
 [91] 1251 1422 1376 <NA> 286  <NA> 5028 942  <NA> 5054 958  952  5165 117  955
[106] 5055 <NA> <NA> 5060 412  5053 5058 5057 <NA> 5051 <NA> 5115 <NA> 931  5056
[121] 5059 5061 <NA> 5062 5052 <NA> 724  <NA> 5066 5050 2316 5055 942  5028 5165
[136] 952  958  955  117  412  5053 5054 5058 5057 5115 5056 5060 1030 1418 1383
[151] 1308 1298 1299 1219 <NA> <NA> 1030 1418 1383 <NA> 1299 1308 1219 1456 5045
[166] 5044 5160 5043 5047 c168 5068 c118 5042 5067 5049 c204 5070 c266 c203 5069
[181] 5073 5072
117 Levels: 1008 1011 1013 1014 1015 1016 1027 1028 1030 1032 1051 1052 ... c266

print> ## ordered factors: levels  "l1 < l2 < .."
print> esoph$agegp[1:12]
 [1] 25-34 25-34 25-34 25-34 25-34 25-34 25-34 25-34 25-34 25-34 25-34 25-34
Levels: 25-34 < 35-44 < 45-54 < 55-64 < 65-74 < 75+

print> esoph$alcgp[1:12]
 [1] 0-39g/day 0-39g/day 0-39g/day 0-39g/day 40-79     40-79     40-79
 [8] 40-79     80-119    80-119    80-119    120+
Levels: 0-39g/day < 40-79 < 80-119 < 120+

print> ## Printing of sparse (contingency) tables
print> set.seed(521)

print> t1 <- round(abs(rt(200, df = 1.8)))

print> t2 <- round(abs(rt(200, df = 1.4)))

print> table(t1, t2) # simple
    t2
t1    0  1  2  3  4  5  6  7  8 10 17 21 30
  0  21 22 14  4  1  0  1  1  1  0  1  0  0
  1  25 21  7  3  4  2  1  1  1  1  0  0  0
  2   8 16  9  2  0  0  0  0  0  0  0  1  1
  3   3  7  0  2  0  0  0  0  0  0  0  0  0
  4   1  5  2  0  0  0  1  0  0  0  0  0  0
  5   1  1  1  0  0  0  0  0  0  0  0  0  0
  6   1  3  0  0  0  0  0  0  0  0  0  0  0
  7   1  0  0  0  0  0  0  0  0  0  0  0  0
  9   0  0  0  1  0  0  0  0  0  0  0  0  0
  12  1  0  0  0  0  0  0  0  0  0  0  0  0

print> print(table(t1, t2), zero.print = ".") # nicer to read
    t2
t1    0  1  2  3  4  5  6  7  8 10 17 21 30
  0  21 22 14  4  1  .  1  1  1  .  1  .  .
  1  25 21  7  3  4  2  1  1  1  1  .  .  .
  2   8 16  9  2  .  .  .  .  .  .  .  1  1
  3   3  7  .  2  .  .  .  .  .  .  .  .  .
  4   1  5  2  .  .  .  1  .  .  .  .  .  .
  5   1  1  1  .  .  .  .  .  .  .  .  .  .
  6   1  3  .  .  .  .  .  .  .  .  .  .  .
  7   1  .  .  .  .  .  .  .  .  .  .  .  .
  9   .  .  .  1  .  .  .  .  .  .  .  .  .
  12  1  .  .  .  .  .  .  .  .  .  .  .  .

print> ## same for non-integer "table":
print> T <- table(t2,t1)

print> T <- T * (1+round(rlnorm(length(T)))/4)

print> print(T, zero.print = ".") # quite nicer,
    t1
t2       0     1     2     3     4     5     6     7     9    12
  0  26.25 25.00 10.00  3.75  1.50  1.25  1.25  1.00     .  2.00
  1  22.00 26.25 16.00 10.50 27.50  1.25  3.00     .     .     .
  2  21.00  7.00 13.50     .  3.00  1.25     .     .     .     .
  3   5.00  3.75  2.50  2.50     .     .     .     .  1.50     .
  4   1.25  5.00     .     .     .     .     .     .     .     .
  5      .  2.00     .     .     .     .     .     .     .     .
  6   1.25  1.50     .     .  1.25     .     .     .     .     .
  7   1.25  1.25     .     .     .     .     .     .     .     .
  8   1.50  1.00     .     .     .     .     .     .     .     .
  10     .  1.00     .     .     .     .     .     .     .     .
  17  1.00     .     .     .     .     .     .     .     .     .
  21     .     .  2.75     .     .     .     .     .     .     .
  30     .     .  5.00     .     .     .     .     .     .     .

print> print.table(T[,2:8] * 1e9, digits=3, zero.print = ".")
    t1
t2          1        2        3        4        5        6        7
  0  2.50e+10 1.00e+10 3.75e+09 1.50e+09 1.25e+09 1.25e+09 1.00e+09
  1  2.62e+10 1.60e+10 1.05e+10 2.75e+10 1.25e+09 3.00e+09        .
  2  7.00e+09 1.35e+10        . 3.00e+09 1.25e+09        .        .
  3  3.75e+09 2.50e+09 2.50e+09        .        .        .        .
  4  5.00e+09        .        .        .        .        .        .
  5  2.00e+09        .        .        .        .        .        .
  6  1.50e+09        .        . 1.25e+09        .        .        .
  7  1.25e+09        .        .        .        .        .        .
  8  1.00e+09        .        .        .        .        .        .
  10 1.00e+09        .        .        .        .        .        .
  17        .        .        .        .        .        .        .
  21        . 2.75e+09        .        .        .        .        .
  30        . 5.00e+09        .        .        .        .        .

print> ## still slightly inferior to  Matrix::Matrix(T)  for larger T
print>
print> ## Corner cases with empty extents:
print> table(1, NA) # < table of extent 1 x 0 >
< table of extent 1 x 0 >

# Language Basic Syntax

## Hello World, Comments and Object Assignment

In [ ]:
"- R is case sensitive
- Commands are separated by either ; or a new line"
# Comments can be done using '#', except inside strings.
a = 'string 1'; A = 'string 2'; print(a); print(A)
"Sentences like these are evaluated, but they are not captured in any variable. Hence, their value is lost."

[1] "- R is case sensitive\n- Commands are separated by either ; or a new line"

[1] "string 1"
[1] "string 2"

[1] "Sentences like these are evaluated, but they are not captured in any variable. Hence, their value is lost."

**Standard Way to do Assignment in R**

Though the `=` symbol can be used to assignment the value to an object, R has standardized `=` to be used with function arguments. Conventionally, objects can be assigned in one of the following ways.

In [ ]:
assign('b', 'new_object1')
c <- 'new_object2'
'new_object3' -> d
e <- f <- g <- 'new_object4'

## Listing and Removing Objects

Both `ls` and `objects` commands can be used to list the objects of the current R session.

In [ ]:
ls()

 [1] "a"         "A"         "b"         "c"         "concat"    "d"
 [7] "e"         "f"         "fruit"     "g"         "i"         "ind"
[13] "l"         "labs"      "lunch"     "M"         "my_vector" "not_S"
[19] "out"       "result"    "S"         "say"       "sigmoid"   "string1"
[25] "string2"   "T"         "t1"        "t2"        "temp"      "x"
[31] "y"         "z"

In [ ]:
objects()

 [1] "a"         "A"         "b"         "c"         "concat"    "d"
 [7] "e"         "f"         "fruit"     "g"         "i"         "ind"
[13] "l"         "labs"      "lunch"     "M"         "my_vector" "not_S"
[19] "out"       "result"    "S"         "say"       "sigmoid"   "string1"
[25] "string2"   "T"         "t1"        "t2"        "temp"      "x"
[31] "y"         "z"

**Hidden Objects**

The object name can start with the `.` character. In that case, it won't appear when listing objects

In [ ]:
# Variables labels can start with the '.' character.
.username = 'Student123'
print(.username)

[1] "Student123"

In [ ]:
ls()

 [1] "a"         "A"         "b"         "c"         "concat"    "d"
 [7] "e"         "f"         "fruit"     "g"         "i"         "ind"
[13] "l"         "labs"      "lunch"     "M"         "my_vector" "not_S"
[19] "out"       "result"    "S"         "say"       "sigmoid"   "string1"
[25] "string2"   "T"         "t1"        "t2"        "temp"      "x"
[31] "y"         "z"

In [ ]:
objects()

 [1] "a"         "A"         "b"         "c"         "concat"    "d"
 [7] "e"         "f"         "fruit"     "g"         "i"         "ind"
[13] "l"         "labs"      "lunch"     "M"         "my_vector" "not_S"
[19] "out"       "result"    "S"         "say"       "sigmoid"   "string1"
[25] "string2"   "T"         "t1"        "t2"        "temp"      "x"
[31] "y"         "z"

## Task 1: Showing All Objects

Using the help of the `ls` command, find and set the argument to show all object names, including the ones that begins with the `.` character.

In [ ]:
?ls

In [ ]:
# <<< Code here

**Removing Objects**

Let's remove some objects using the `rm` command.

In [ ]:
rm(A)

In [ ]:
# Repeat code from task one here, and check if objects were deleted.

**Removing All Objects**

Let's remove all objects, except the ones whose name starts with the `.` character.

In [ ]:
rm(list=ls())

## Function Definition

Below is the syntax for defining a function in R.

In [ ]:
say <- function(something, another_thing){
  print(something)
  return(another_thing)
}

result <- say('what I want', 'what I get')
result

[1] "what I want"

[1] "what I get"

# Simple Manipulation, Numbers and Vectors

## Basic Arithmetics

In [ ]:
# Basic math operators are built-in in R
1+7*2/3
(1+7*2)/3
((1+7*2)/3)^2

[1] 5.666667

[1] 5

[1] 25

## Task 2: Try other basic operators

Other common arithmentic operators (`log`, `exp`, `sin`, `cos`, `tan`, `sqrt`, and so on) are also available.

Knowing that the sigmoid function is given by

$$
S(x) = \frac{1}{1+e^{-x}}
$$

Write an expression below to evaluate the sigmoid with the value in `x`.

For `x = 0` the result should be `0.5`.

In [ ]:
x = 0
# result = # Write your code in here.
print(result)

[1] 0.5

## R Data Types

- Everything in R is an object
- R has 6 basic types
  - logical numeric (real or decimal)
  - integer
  - complex
  - character
  - raw (for raw byte data, typically for binary information)

**Class**

In [ ]:
class(TRUE) # TRUE and FALSE are capitalized in R. ## "logical"

[1] "logical"

In [ ]:
class(T) # T and F are capitalized in R. ## "logical"

[1] "logical"

In [ ]:
class(23.5) # "numeric"

[1] "numeric"

In [ ]:
class(2L) # L Extends for Long (int) 32-bits. # "integer"

[1] "integer"

**Type**

In [ ]:
typeof(2+5i) # "complex"

[1] "complex"

In [ ]:
typeof("TRUE") # "character"

[1] "character"

In [ ]:
typeof(charToRaw("TRUE")) # "raw"

[1] "raw"

**Class vs Type**

From [Stackoverflow](https://stackoverflow.com/a/62052252/2313889):

> simply put, the only really useful ones are `class()` and `typeof()`
>
> `class` can be described as the 'container' of an object, an attribute that makes this object behave externally with functions that take this particular 'type' of object as argument
>
> `type` is what this object is made of inside the container, the 'type' of underlying values
>
> good obvious example:

In [ ]:
x <- as.Date('2010-01-01')
class(x) # Date
typeof(x) # double

[1] "Date"

[1] "double"

## Vectors

Vectors are the simplest *data structure* in R

In [ ]:
x <- c(2, 4, 6)
x

[1] 2 4 6

In [ ]:
# Vector is the default structure in R
a = 1L; is.vector(a)
a = 'a'; is.vector(a)

[1] TRUE

[1] TRUE

**Creating Vectors with Vectors**

In [ ]:
# Using a vector to compose another vector
y <- c(-x, 0, x)
y

[1] -2 -4 -6  0  2  4  6

## Task 3: Sigmoid as a function

Wrap the calculation for the sigmoid into a function. Then use this function to compute the sigmoid of `y`.

In [ ]:
#sigmoid <- # Write your code here

In [ ]:
sigmoid(y)

[1] 0.119202922 0.017986210 0.002472623 0.500000000 0.880797078 0.982013790
[7] 0.997527377

**Additional operation on vectors**

- `max` and `min` select the largest and smallest elements of a vector respectively;
- `range` is a function whose value is a vector of length two, namely `c(min(x), max(x))`;
-`length(x)` is the number of elements in `x`;
- `sum(x)` gives the total of the elements in `x`;
- `prod(x)` gives the total product of the elements in `x`;
- `mean(x)` and `var(x)` gives the maan and variance of the vector, respectively.
- etc...

**Generating Regular Sequences**

In [ ]:
a <- -10:10
print(a)

 [1] -10  -9  -8  -7  -6  -5  -4  -3  -2  -1   0   1   2   3   4   5   6   7   8
[20]   9  10

**Using `seq` function**

In [ ]:
b <- seq(from=-10, to=10, by=2)
print(b)

 [1] -10  -8  -6  -4  -2   0   2   4   6   8  10

In [ ]:
c <- seq(from=-10, by=2, length=5)
print(c)

[1] -10  -8  -6  -4  -2

**Repeating Values of Vector**

In [ ]:
d <- rep(c, times=3) # puts three copies of x end-to-end
print(d)

 [1] -10  -8  -6  -4  -2 -10  -8  -6  -4  -2 -10  -8  -6  -4  -2

In [ ]:
e <- rep(c, each=3) # repeats each element of x three times before moving on to the next
print(e)

 [1] -10 -10 -10  -8  -8  -8  -6  -6  -6  -4  -4  -4  -2  -2  -2

**Logical Vectors**

In [ ]:
temp <- b > 0
print(b)
print(temp)

 [1] -10  -8  -6  -4  -2   0   2   4   6   8  10
 [1] FALSE FALSE FALSE FALSE FALSE FALSE  TRUE  TRUE  TRUE  TRUE  TRUE

Other logic operators:

- `<`, `<=`, `>`, `>=`, `==` for exact equality and `!=` for inequality.
- if `c1` and `c2` are logical expressions,
  - then `c1 & c2` is their intersection (“and”),
  - `c1 | c2` is their union (“or”),
  - and `!c1` is the negation of `c1`

**Missing Values**

In general any operation on an `NA` becomes an `NA`. The motivation for this rule is simply that if the specification of an operation is incomplete, the result cannot be known and hence is *not available*.

In [ ]:
z <- c(1:3,NA)

In [ ]:
ind <- is.na(z) # Compares each element with NA
ind

[1] FALSE FALSE FALSE  TRUE

**Non-a-Number**

In [ ]:
0/0

[1] NaN

In [ ]:
Inf - Inf

[1] NaN

In [ ]:
is.na(NA); is.na(NaN)

[1] TRUE

[1] TRUE

In [ ]:
is.nan(NA); is.nan(NaN)

[1] FALSE

[1] TRUE

## Task 4: Create a Vector with Multiple Types

Create a vector with multiple types, such as the values below, and check their data type.

> 42, 'John Doe', TRUE

In [ ]:
# Your code goes here...
# Print the Vector with the information above.

**Question**

What can you notice about each vector element?

In [ ]:
# Check the type of the vector above

## Concatenation

**Concatenate two strings**

In [ ]:
# create 2 different strings.
string1 <- "String1" # first string
string2 <- "String2" # second string.

In [ ]:
concat <- c(string1, string2)
print(concat)
typeof(concat)
class(concat)

[1] "String1" "String2"

[1] "character"

[1] "character"

**The `paste` function**

- Takes an arbitrary number of arguments and concatenates them one by one into character strings.
- Any numbers given among the arguments are coerced into character strings
- Arguments are by default separated in the result by a single blank character

In [ ]:
# Using paste() function to perform string concatenation.
S <- paste(string1, string2)
print(S)# print the output string
typeof(S)
class(S)

[1] "String1 String2"

[1] "character"

[1] "character"

In [ ]:
S <- paste(string1, string2, sep ="")
print(S)# print the output string

[1] "String1String2"

In [ ]:
S <- paste(string1, string2, sep ="#")
print(S)# print the output string

[1] "String1#String2"

## Indexing, Selecting and Modifying Subsets of Data

### Logical Vector

In [ ]:
x <- c(1:10, NA, NA, NA, 14:20)
print(x)

 [1]  1  2  3  4  5  6  7  8  9 10 NA NA NA 14 15 16 17 18 19 20

In [ ]:
y <- x[!is.na(x)]
print(y)

 [1]  1  2  3  4  5  6  7  8  9 10 14 15 16 17 18 19 20

In [ ]:
# Creates an object Z and places in it values of x*2
(x*2)[(!is.na(x)) & x>=10] -> z
print(z)

[1] 20 28 30 32 34 36 38 40

### Positive Integer Number

In [ ]:
x <- c('A', 'B', 'C', 'D', 'E', 'F')
print(x[2:5])

[1] "B" "C" "D" "E"

In [ ]:
print(x[1:length(x)])

[1] "A" "B" "C" "D" "E" "F"

In [ ]:
# Repeating some particular repeted selection
print(x[rep(c(1,2,2,1), times=4)])

 [1] "A" "B" "B" "A" "A" "B" "B" "A" "A" "B" "B" "A" "A" "B" "B" "A"

### A vector of negative integral quantities

Such an index vector specifies the values to be excluded rather than included.

In [ ]:
y <- x[-(2:5)]
print(y)

[1] "A" "F"

### A vector of character strings

This possibility only applies where an object has a names attribute to identify its components.

In [ ]:
fruit <- c(5, 10, 1, 20)
print(fruit)

[1]  5 10  1 20

In [ ]:
names(fruit) <- c("orange", "banana", "apple", "peach")
print(fruit)

orange banana  apple  peach
     5     10      1     20

In this case a sub-vector of the names vector may be used in the same way as the positive integral labels.

In [ ]:
lunch <- fruit[c("apple","orange")]
print(lunch)

 apple orange
     1      5

## Task5: Replacing Missing Values

**Part A**

In [ ]:
# Given
x <- c(1:10, NA, NA, NA, 14:20)
print(x)

 [1]  1  2  3  4  5  6  7  8  9 10 NA NA NA 14 15 16 17 18 19 20

Let's replace the missing values with zeros

**Part B**

In [ ]:
# Given
y <- -10:10
print(y)

 [1] -10  -9  -8  -7  -6  -5  -4  -3  -2  -1   0   1   2   3   4   5   6   7   8
[20]   9  10

Let's replace the negative values, say `n`, by `-n`.
You have to use selection and assingment. Though, it should have the same effect of the `abs` function, you can not use it.

In [ ]:
#Enter your code here
print(y)

 [1] 10  9  8  7  6  5  4  3  2  1  0  1  2  3  4  5  6  7  8  9 10

## Lists

Lists can contain many different types of elements

In [ ]:
l <- list(42, 'John Doe', T)
print(l)

[[1]]
[1] 42

[[2]]
[1] "John Doe"

[[3]]
[1] TRUE

In [ ]:
class(l)
typeof(l)

[1] "list"

[1] "list"

## Matrices

Matrices can be build from a vector by defining the number of `rows` and `cols`

In [ ]:
M <- matrix(c('a','b','c','d','e','f'), nrow=2, ncol=3, byrow=TRUE)
print(M)

     [,1] [,2] [,3]
[1,] "a"  "b"  "c"
[2,] "d"  "e"  "f"

**Accessing Values in Matrices**

In [ ]:
print(M[2, 3]) # Returns 'f'

[1] "f"

In [ ]:
print(M[1])

[1] "a"